body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0F0F0F;
}
.fixed-size {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}
.title-main {
  position: absolute;
  top: 0;
}
.title-shadow {
  height: 100%;
  position: relative;
  right: 30px;
  bottom: 30px;
  color: transparent;
  -webkit-text-stroke: 1px rgba(242, 242, 242, 0.2);
}

@mixin transform($property) {
  -o-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}
@mixin transition($property) {
  -o-transition: $property;
  -moz-transition: $property;
  -webkit-transition: $property;
  transition: $property;
}
%btn-play {
  background-image: url("images/icons/icon-play.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  background-color: #EB3E2E;
}
