@import "base";
@import "fonts";

@mixin transform($property) {
  -o-transform: $property;
  -ms-transform: $property;
  -moz-transform: $property;
  -webkit-transform: $property;
  transform: $property;
}

@mixin transition($property) {
  -o-transition: $property;
  -moz-transition: $property;
  -webkit-transition: $property;
  transition: $property;
}

.header {
  position: relative;
  top: 0;
  display: flex;
  align-items: center;
  min-height: 160px;
  margin-bottom: -160px;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  z-index: 5;
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    .header-content__navigation {
      margin-top: 48px;
      display: flex;
      align-items: start;
      .header-content__navigation-desc {
        width: 134px;
        margin: 0 24px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 18.2px;
        color: #F2F2F2;
      }
      .header-content__navigation-btn {
        cursor: pointer;
        padding: 8px 0;
        width: 90px;
        background: none;
        border: 1.5px solid #F2F2F2;
        border-radius: 215px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Roboto, sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: #F2F2F2;
        text-transform: uppercase;
        @include transition(all 0.3s ease);
        &:hover {
          background: rgba(242, 242, 242,  0.1);
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
    }
    .header-content__community {
      display: flex;
      align-items: start;
      .header-content__community-members {
        display: flex;
        align-items: center;
        margin-top: 44px;
        .header-content__community-members-amount {
          display: flex;
          flex-direction: column;
          font-family: Roboto, sans-serif;
          font-size: 18px;
          color: #FFFFFF;
          font-weight: normal;
          span {
            font-weight: bold;
          }
        }
        .header-content__community-members-limiter {
          margin: 0 32px 0 12px;
          padding: 13px 10px;
          border: 2px solid rgba(255, 255, 255, 0.2);
          border-radius: 50%;
          font-family: Roboto, sans-serif;
          font-size: 18px;
          font-weight: bold;
          color: #F2F2F2;
        }
      }
      .header-content__community-online {
        background-color: #F2F2F2;
        width: 136px;
        height: 100%;
        padding: 30px 0 45px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(0 0, 136px 0, 136px 120px, 68px 157px, 0 120px);
        font-family: Roboto, sans-serif;
        color: #333333;
        .header-content__community-online-title {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 10px;
        }
        .header-content__community-online-number {
          margin: 6px 0;
          font-weight: 900;
          font-size: 26px;
        }
      }
    }
  }
}
.banner {
  position: relative;
  background-image: url("images/background-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 60px;
  min-height: 100vh;
  .banner-wrapper {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .banner-content {
      position: relative;
      margin-top: 160px;
      display: flex;
      flex-direction: column;
      color: #F2F2F2;
      z-index: 10;
      .banner-content__background {
        position: absolute;
        top: -80px;
        right: -120px;
        z-index: -1;
      }
      .banner-content__title {
        margin-top: 80px;
        width: 55%;
        position: relative;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 64px;
      }
      .banner-content__desc{
        width: 50%;
        margin: 24px 0 36px 0;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
      }
      .banner-content__buttons {
        display: flex;
        flex-direction: row;
        .banner-content__buttons-play {
          position: relative;
          margin-right: 24px;
          width: 284px;
          height: 72px;
          background-color: #EB3E2E;
          border: none;
          border-radius: 300px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Roboto, sans-serif;
          font-weight: bold;
          font-size: 18px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: #F2F2F2;
          cursor: pointer;
          @include transition(all 0.3s ease);
          &:hover {
            background-color: #ED5143;
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }
        .banner-content__buttons-more {
          display: flex;
          flex-direction: row;
          justify-content: start;
          align-items: center;
          width: 204px;
          height: 72px;
          background-color: rgba(255, 255, 255, 0.1);
          border-radius: 300px;
          .banner-content__buttons-more-btn {
            cursor: pointer;
            margin-left: 12px;
            margin-right: 18px;
            @extend %btn-play;
            @include transition(all 0.3s ease);
            &:hover {
              background-color: #ED5143;
            }
            &:active {
              position: relative;
              top: 1px;
            }
          }
          .banner-content__buttons-more-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            color: #FFFFFF;
            font-family: Roboto, sans-serif;
            font-size: 16px;
            line-height: 22px;
            font-weight: normal;
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
    .banner-subcontent {
      margin-top: 175px;
      display: flex;
      flex-direction: row;
      max-width: 519px;
      .banner-subcontent__column {
        &:first-child {
          margin-right: 42px;
        }
        .banner-subcontent__column-item {
          margin-bottom: 20px;
          display: flex;
          flex-direction: row;
          img {
            margin-right: 14px;
          }
          .banner-subcontent__column-item-desc {
            font-family: Roboto, sans-serif;
            line-height: 21px;
            .banner-subcontent__column-item-desc-award {
              font-weight: bold;
              font-size: 14px;
              color: #F2F2F2;
            }
            .banner-subcontent__column-item-desc-version {
              font-weight: 300;
              font-size: 12px;
              color: rgba(242, 242, 242, 0.4);
              span {
                text-transform: uppercase;
                color: #F2C94C;
              }
            }
          }
        }
      }
    }
  }
  .banner-transition {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, rgba(15, 15, 15, 0) 0%, #0F0F0F 100%);
  }
}

.description {
  padding-top: 20px;
  .description-post {
    margin-top: 20px;
    position: relative;
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 6px;
    .description-post__background {
      height: 100%;
      width: 100%;
      border-radius: 6px;
    }
    .description-post__content {
      height: 100%;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: Roboto, sans-serif;
      color: #F2F2F2;
      .description-post__content-title {
        font-weight: 900;
        font-size: 54px;
        margin-bottom: 24px;
      }
      .description-post__content-desc {
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
      }
    }
  }
  .post-1 {
    height: 333px;
    background-image: url("images/post 1.png");
    background-position: right;
    .description-post__background {
      position: absolute;
      bottom: 0;
      height: 301px;
      background: linear-gradient(90deg, #EB3E2E 0%, #EB3E2E 22%, rgba(235, 62, 46, 0) 80%);
    }
    .description-post__content {
      margin-left: 100px;
    }
  }
  .post-2 {
    background-image: url("images/post 2.png");
    background-position: top left;
    .description-post__background {
      background: linear-gradient(90deg, rgba(75, 116, 185, 0) 20%, #4B74B9 63%, #4B74B9 100%);
    }
    .description-post__content {
      margin-left: 50%;
    }
  }
  .post-3 {
    background-image: url("images/post 3.png");
    background-position: top right;
    .description-post__background {
      background: linear-gradient(90deg, #EB3E2E 0%, #EB3E2E 20%, rgba(235, 62, 46, 0) 70%);
    }
    .description-post__content {
      margin-left: 100px;
    }
  }
  .post-4 {
    background-color: #4B74B9;
    .description-post__background-imposition {
      height: 100%;
      background-image: url("images/post 4.png");
      background-position: top left;
      background-repeat: no-repeat;
      mix-blend-mode: multiply;
    }
    .description-post__background {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: row;
      background: linear-gradient(90deg, rgba(75, 116, 185, 0) 20%, #4B74B9 63%, #4B74B9 100%);
      .description-post__car {
        position: relative;
        top: 50px;
        left: 46px;
        @include transition(all 0.3s ease);
        &:hover {
          @include transform(scale(1.1));
        }
      }
      .description-post__content {
        margin-left: 114px;
        width: 45%;
      }
    }
  }
  .post-5 {
    background-color: #333333;
    .description-post__background {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-image: url("images/post 5.png");
      background-position: top center;
      background-repeat: no-repeat;
    }
    .description-post__content {
      text-align: center;
    }
  }
  .post-6 {
    background-color: #333333;
    .description-post__background {
      background-image: url("images/post 6.png");
      background-position: top center;
      background-repeat: no-repeat;
      backdrop-filter: blur(9px);
    }
    .description-post__content {
      position: absolute;
      top: 0;
      right: 50px;
      z-index: 10;
    }
  }
}

.overview {
  margin-top: 108px;
  .overview-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    color: #F2F2F2;
    .overview-description {
      position: relative;
      .overview-description__img {
        position: absolute;
        left: 90px;
        bottom: 27px;
        @include transition(all 0.3s ease);
        &:hover {
          @include transform(scale(1.1));
        }
      }
      .overview-description__title {
        position: relative;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 64px;
      }
      .overview-description__note {
        display: inline-block;
        margin-top: 21px;
        margin-bottom: 20px;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
      }
    }
    .overview-media {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: 2fr 1fr;
      grid-gap: 16px;
      .overview-media__material {
        position: relative;
        background-size: cover;
        background-position: center;
        border-radius: 6px;
        &:first-child {
          grid-column: span 1;
          grid-row: span 2;
        }
      }
      .material-video {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .overview-media__material-imposition {
          cursor: pointer;
          @extend %btn-play;
          @include transition(all 0.3s ease);
          &:hover {
            background-color: #ED5143;
          }
          &:active {
            position: relative;
            top: 1px;
          }
        }
      }
      .material-img {
        .overview-media__material-imposition {
          position:absolute;
          top:0;
          width: 100%;
          height: 100%;
          background-color: rgba(235, 62, 46, 0.9);
          background-image: url("images/icons/icon-eye.svg");
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 6px;
          display: none;
        }
        &:hover .overview-media__material-imposition{
          display: block;
        }
      }
      .material-1 {
        background-image: url("images/material-1.png");
      }
      .material-2 {
        background-image: url("images/material-2.png");
      }
      .material-3 {
        background-image: url("images/material-3.png");
      }
      .material-4 {
        background-image: url("images/material-4.png");
      }
      .material-5 {
        background-image: url("images/material-5.png");
      }
      .material-6 {
        background-image: url("images/material-6.png");
      }
      .material-7 {
        background-image: url("images/material-7.png");
      }
      .material-8 {
        background-image: url("images/material-8.png");
      }
      .material-9 {
        background-image: url("images/material-9.png");
      }
    }
  }
}

.list-servers {
  height: 632px;
  width: 100%;
  position: relative;
  margin-top: 82px;
  .list-servers-glows {
    .list-servers-glows__glow-1 {
      position: absolute;
      left: 0;
      bottom: 10px;
      width: 548px;
      height: 100%;
      background: radial-gradient(50% 50% at 0% 50%, #EB402F 0%, rgba(235, 64, 47, 0) 100%);
      opacity: 0.4;
    }
    .list-servers-glows__glow-2 {
      position: absolute;
      right: 0;
      bottom: 10px;
      width: 548px;
      height: 100%;
      background: radial-gradient(50% 50% at 0% 50%, #F2F2F2 0%, rgba(242, 242, 242, 0) 100%);
      opacity: 0.2;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  .list-servers-content {
    color: #F2F2F2;
    .list-servers-content__title {
      margin-bottom: 48px;
      width: 100%;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: Roboto, sans-serif;
      font-weight: 900;
      font-size: 64px;
      .title-shadow {
        right: 0;
      }
    }
    .list-servers-content__places {
      width: 100%;
      height: 400px;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 10px;
      .list-servers-content__places-any {
        position: relative;
        height: 100%;
        background-position: center;
        border-radius: 6px;
        &:hover{
          animation: scale-back .5s ease forwards;
        }
        .list-servers-content__places-any-background {
          width: 100%;
          height: 100%;
          opacity: 0.1;
          background-position: center;
          border-radius: 6px;
        }
        .list-servers-content__places-any-desc {
          height: 100%;
          width: 100%;
          position: absolute;
          top: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          .list-servers-content__places-any-desc-title {
            margin-top: 40px;
            margin-left: 40px;
            font-family: Roboto, sans-serif;
            font-weight: bold;
            font-size: 32px;
            text-transform: uppercase;
          }
          .list-servers-content__places-any-desc-subtitle {
            position: relative;
            top: -4px;
            margin-left: 40px;
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 18px;
            opacity: 0.4;
          }
          .list-servers-content__places-any-desc-online {
            display: inline-block;
            margin-top: 28px;
            margin-left: 40px;
            padding: 5px 7px;
            border-radius: 6px;
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 12px;
            text-transform: uppercase;
          }
          .list-servers-content__places-any-desc-btn {
            margin: 0 auto 40px auto;
            display: flex;
            padding: 12px 16px;
            background: none;
            border: 1px solid #F2F2F2;
            border-radius: 6px;
            color: #F2F2F2;
            font-family: Roboto, sans-serif;
            font-weight: bold;
            font-size: 12px;
            text-transform: uppercase;
            cursor: pointer;
            @include transition(all 0.3s ease);
            &:hover {
              background-color: rgba(242, 242, 242, 0.1);
            }
            &:active {
              position: relative;
              top: 1px;
            }
            .list-servers-content__places-any-desc-btn-mobile {
              display: none;
            }
          }
        }
        .list-servers-content__places-any-separator {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 6px;
          border-radius: 6px;
        }
      }
      .server-red {
        background-color: rgba(235, 62, 46, 0.1);
        background-image: url("images/red-server.png");
        .list-servers-content__places-any-background {
          background: linear-gradient(180deg, rgba(235, 62, 46, 0) 0%, #EB3E2E 100%);
        }
        .list-servers-content__places-any-desc-online {
          background-color: #EB3E2E;
          color: #F2F2F2;
        }
        .list-servers-content__places-any-separator {
          background-color: #EB3E2E;
          box-shadow: 0 0 34px #EB3E2E;
        }
      }
      .server-yellow {
        background-color: rgba(242, 201, 76, 0.1);
        background-image: url("images/yellow-server.png");
        .list-servers-content__places-any-background {
          background: linear-gradient(180deg, rgba(242, 201, 76, 0) 0%, #F2C94C 100%);
        }
        .list-servers-content__places-any-desc-online {
          background-color: #F2C94C;
          color: #333333;
        }
        .list-servers-content__places-any-separator {
          background: #F2C94C;
          box-shadow: 0 0 34px #F2C94C;
        }
      }
      .server-green {
        background-color: rgba(39, 174, 96, 0.1);
        background-image: url("images/green-server.png");
        .list-servers-content__places-any-background {
          background: linear-gradient(180deg, rgba(39, 174, 96, 0) 0%, #27AE60 100%);
        }
        .list-servers-content__places-any-desc-online {
          background-color: #27AE60;
          color: #F2F2F2;
        }
        .list-servers-content__places-any-separator {
          background: #27AE60;
          box-shadow: 0 0 34px #27AE60;
        }
      }
      .server-azure {
        background-color: rgba(45, 156, 219, 0.1);
        background-image: url("images/azure-server.png");
        .list-servers-content__places-any-background {
          background: linear-gradient(180deg, rgba(45, 156, 219, 0) 0%, #2D9CDB 100%);
        }
        .list-servers-content__places-any-desc-online {
          background-color: #2D9CDB;
          color: #F2F2F2;
        }
        .list-servers-content__places-any-separator {
          background-color: #2D9CDB;
          box-shadow: 0 0 34px #2D9CDB;
        }
      }
      .server-silver {
        background-color: rgba(224, 224, 224, 0.1);
        background-image: url("images/silver-server.png");
        .list-servers-content__places-any-background {
          background: linear-gradient(180deg, rgba(224, 224, 224, 0) 0%, #E0E0E0 100%);
        }
        .list-servers-content__places-any-desc-online {
          background-color: #E0E0E0;
          color: #333333;
        }
        .list-servers-content__places-any-separator {
          background-color: #E0E0E0;
          box-shadow: 0 0 34px #E0E0E0;
        }
      }
    }
  }
}

.community {
  .community-content {
    position: relative;
    padding-top: 91px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .community-content__img {
      position: absolute;
      bottom: -104px;
      left: -180px;
      z-index: 0;
      @include transition(all 0.3s ease);
      &:hover {
        @include transform(scale(1.1));
      }
    }
    .community-content__description {
      width: 40%;
      .community-content__title {
        width: 35%;
        position: absolute;
        top: 80px;
        left: -180px;
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 64px;
        text-transform: uppercase;
        color: #F2F2F2;
        transform: rotate(-90deg);
        transform-origin: right top 0;
        padding-right: 40px;
        z-index: -2;
      }
    }
    .community-content__networks {
      width: 692px;
      display: flex;
      flex-direction: column;
      .official-group {
        background-color: #EB3E2E;
      }
      .free-group {
        background-color: #4B74B9;
      }
      .community-content__networks-group {
        margin-bottom: 16px;
        padding: 50px;
        height: 112px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 6px;
        .community-content__networks-group-row {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .community-content__networks-group-row-annotation {
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 21px;
            color: #FFFFFF;
          }
          .community-content__networks-group-row-members {
            font-family: Roboto, sans-serif;
            font-size: 24px;
            color: #FFFFFF;
            font-weight: normal;
            span {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.footer {
  position: relative;
  margin-top: 104px;
  padding-bottom: 30px;
  height: 467px;
  background-color: #000000;
  background-image: url("images/footer.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  .footer-glow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -50%;
    background: radial-gradient(50% 50% at 50% 50%, #282828 0%, rgba(97, 97, 97, 0) 100%) center;
    z-index: -10;
  }
  .footer-navigation {
    margin-top: 60px;
    margin-bottom: 67px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    .footer-navigation__logo {
      margin-right: 150px;
    }
    .footer-navigation__navbar {
      font-family: Roboto, sans-serif;
      font-weight: normal;
      font-size: 16px;
      color: #E0E0E0;
      div:not(:first-child) {
        margin-bottom: 14px;
        &:hover {
          opacity: 0.8;
        }
        &:active {
          position: relative;
          top: 1px;
        }
      }
      .footer-navigation__navbar-title {
        margin-bottom: 24px;
        font-weight: bold;
        font-size: 24px;
      }
    }
    .footer-navigation__networks {
      display: grid;
      grid-template-rows: repeat(2, 84px);
      grid-template-columns: repeat(3, 84px);
      grid-gap: 16px;
      .footer-navigation__networks-item {
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
      .discord {
        grid-column: span 1;
        grid-row: span 2;
        background: linear-gradient(0deg, #7289DA 0%, #B9C8FF 100%);
      }
      .insta {
        background: linear-gradient(135deg, #FFDD55 6.62%, #FF543E 50.06%, #C837AB 93.5%);
      }
      .tiktok {
        background: linear-gradient(135deg, #25F4EE 0%, #FE2C55 100%);
      }
      .youtube {
        background: linear-gradient(-45deg, #E53935 0%, #E5356A 100%);
      }
      .telegram {
        background: linear-gradient(-45deg, #03A9F4 0%, #42C4FF 100%);
      }
    }
  }
  .footer-description {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    span {
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #E0E0E0;
    }
    .footer-description__caption {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(235, 62, 46, 0.9) 0%, rgba(40, 15, 12, 0.9) 100%);
  //display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 20;
  display: none;
  .modal-dialog {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 80%;
    max-height: 600px;
    background-color: #F2F2F2;
    border-radius: 6px;
    .modal-dialog__close {
      position: absolute;
      right: 0;
      top: -30px;
      font-family: Roboto, sans-serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 29px;
      color: #F2F2F2;
      cursor: pointer;
    }
    .modal-dialog__header {
      padding: 0 50px;
      height: 30%;
      max-height: 178px;
      background-color: #EB3E2E;
      border-radius: 6px 6px 0 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .modal-dialog__header-title {
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 34px;
        color: #FFFFFF;
      }
      .modal-dialog__header-counter {
        border: 1px solid #F2F2F2;
        box-sizing: border-box;
        border-radius: 300px;
        padding: 15px 18px;
        font-family: Roboto, sans-serif;
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: #F2F2F2;
      }
    }
    .modal-dialog__content {
      height: 70%;
      max-height: 422px;
      padding: 0 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      .modal-dialog__content-title {
        font-family: Roboto, sans-serif;
        font-weight: 900;
        font-size: 44px;
        color: #333333;
      }
      .modal-dialog__content-caption {
        margin-top: 20px;
        font-family: Roboto, sans-serif;
        font-weight: normal;
        font-size: 18px;
        line-height: 29px;
        color: #333333;
      }
      .modal-dialog__content-buttons {
        display: flex;
        div {
          margin-left: 24px;
          padding: 13px 28px;
          background: #EB3E2E;
          border: none;
          border-radius: 6px;
          font-family: Roboto, sans-serif;
          font-weight: bold;
          font-size: 16px;
          letter-spacing: 0.1em;
          text-transform: uppercase;
          color: #F2F2F2;
        }
      }
    }
    .modal-dialog__background {
      position: absolute;
      right: 0;
      bottom: 0;
      max-height: 80%;
    }
  }
  .third-dialog {
    display: none;
  }
  .second-dialog {
    display: none;
  }
}

@keyframes scale-back {
  from {
    background-size: 105%;
  }
  to {
    background-size: 120%;
  }
}

@media (max-width: 1370px) {
  .banner-content__background {
    position: absolute;
    right: -80px !important;
    top: -40px !important;
    height: 600px;
  }
}

@media (max-width: 1296px) {
  .banner-content__background {
    position: absolute;
    right: -40px !important;
  }
}

@media (max-width: 1210px) {
  .banner-content__background {
    position: absolute;
    right: -20px !important;
  }
  .community-content__title {
    position: absolute;
    left: -180px !important;
  }
}

@media (max-width: 1100px) {
  .community {
    .community-content {
      flex-direction: column !important;
      justify-content: flex-start !important;
      align-items: flex-end;

      .community-content__img {
        display: none !important;
      }

      .community-content__description {
        width: 50% !important;

        .community-content__title {
          position: relative !important;
          top: 0;
          right: 0 !important;
          left: 0;
          transform: rotate(0) !important;
          margin-bottom: 24px;
        }
      }

      .community-content__networks {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 1000px) {
  .header {
    display: none !important;
  }
  .banner-content {
    align-items: center;
    text-align: center;
    .banner-content__background {
      position: relative !important;
      width: 475px;
      height: 500px;
    }
    .banner-content__title {
      margin-top: 20px !important;
    }
  }
  .banner-subcontent {
    width: 100% !important;
    max-width: 100% !important;
    justify-content: center;
  }
  .footer-navigation__logo {
    margin-right: 50px !important;
  }
}

@media (max-width: 936px) {
  .post-4 {
    .description-post__car {
      position: relative;
      top: 130px !important;
      left: 20px !important;
      height: 60%;
    }
    .description-post__content {
      margin-left: 34px !important;
      width: 70% !important;
    }
  }
  .list-servers {
    .list-servers-glows {
      .list-servers-glows__glow-1 {
        width: 280px !important;
      }
      .list-servers-glows__glow-2 {
        width: 280px !important;
      }
    }
    .list-servers-content {
      .list-servers-content__title {
        font-size: 48px;
        .title-shadow {
          right: 0 !important;
          bottom: 20px !important;
        }
      }
      .list-servers-content__places {
        width: 100%;
        height: auto !important;
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 10px;
        .list-servers-content__places-any {
          height: 100px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .list-servers-content__places-any-desc {
            flex-direction: row !important;
            .list-servers-content__places-any-desc-title {
              margin-top: 20px !important;
              margin-left: 40px;
              font-family: Roboto, sans-serif;
              font-weight: bold;
              font-size: 32px;
              text-transform: uppercase;
            }
            .list-servers-content__places-any-desc-online {
              position: relative;
              top: -70px;
              left: 150px;
            }
            .list-servers-content__places-any-desc-btn {
              margin: 0 !important;
              border: none;
              @include transition(all 0.3s ease);
              &:hover {
                background-color: rgba(242, 242, 242, 0);
                @include transform(scale(1.2))
              }
              &:active {
                position: relative;
                top: 1px;
              }
              .list-servers-content__places-any-desc-btn-text {
                display: none;
              }
              .list-servers-content__places-any-desc-btn-mobile {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    height: auto !important;
    .footer-navigation {
      display: flex;
      flex-direction: column !important;
      align-items: start;
      .footer-navigation__logo {
        margin-bottom: 50px;
      }
      .footer-navigation__navbar {
        margin-bottom: 50px;
      }
      .footer-navigation__networks {
        grid-gap: 10px !important;
      }
    }
    .footer-description {
      display: flex;
      flex-direction: column !important;
      span {
        font-family: Roboto, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        color: #E0E0E0;
        margin-bottom: 24px;
      }
      .footer-description__caption {
        position: relative !important;
        right: 0;
        text-align: right;
      }
    }
  }
}

@media (max-width: 770px) {
  .description-post__content {
    width: 80%;
  }
  .post-1 {
    .description-post__background {
      background: linear-gradient(to top, #EB3E2E 0%, #EB3E2E 22%, rgba(235, 62, 46, 0) 80%) !important;
    }
    .description-post__content {
      margin-left: 50px !important;
      justify-content: flex-end !important;
      .description-post__content-desc {
        margin-bottom: 40px;
      }
    }
  }
  .post-2 {
    .description-post__background {
      background: linear-gradient(180deg, rgba(75, 116, 185, 0) 20%, #4B74B9 63%, #4B74B9 100%) !important;
    }
    .description-post__content {
      margin-right: 50px;
      float: right;
      text-align: right;
      justify-content: flex-end !important;
      .description-post__content-desc {
        margin-bottom: 40px;
      }
    }
  }
  .post-3 {
    .description-post__background {
      background: linear-gradient(to top, #EB3E2E 0%, #EB3E2E 20%, rgba(235, 62, 46, 0) 70%) !important;
    }
    .description-post__content {
      margin-left: 50px !important;
      justify-content: flex-end !important;
      .description-post__content-desc {
        margin-bottom: 40px;
      }
    }
  }
  .post-4 {
    .description-post__background-imposition {
      background-size: cover;
    }
    .description-post__background {
      flex-direction: column !important;
      align-items: flex-end;
      background: linear-gradient(180deg, rgba(75, 116, 185, 0) 20%, #4B74B9 63%, #4B74B9 100%) !important;
    }
    .description-post__car {
      display: none;
    }
    .description-post__content {
      margin-right: 50px;
      float: right;
      text-align: right;
      justify-content: flex-end !important;
      .description-post__content-desc {
        margin-bottom: 40px;
      }
    }
  }
  .post-6 {
    .description-post__content {
      text-align: right;
      width: 50%;
    }
  }
  .overview {
    .overview-content {
      display: grid;
      grid-template-rows: 200px 3fr 3fr 3fr;
      grid-template-columns: 1fr;
      grid-gap: 16px;
      .overview-description {
        .overview-description__img {
          left: 0 !important;
          bottom: 27px;
        }
      }
      .overview-media {
        grid-template-rows: repeat(3, 400px);
        grid-template-columns: 1fr !important;
        .overview-media__material:first-child {
          grid-row: span 1;
          grid-column: span 1;
        }
      }
    }
  }
  .footer {
    height: auto !important;
    .footer-navigation {
      display: flex;
      flex-direction: column !important;
      align-items: start;
      .footer-navigation__logo {
        margin-bottom: 50px;
      }
      .footer-navigation__navbar {
        margin-bottom: 50px;
      }
      .footer-navigation__networks {
        grid-gap: 10px !important;
      }
    }
    .footer-description {
      display: flex;
      flex-direction: column !important;
      font-family: Roboto, sans-serif;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      color: #E0E0E0;
      div:first-child {
        margin-bottom: 24px;
      }
    }
  }
  .modal-dialog__background {
    display: none;
  }
}

@media (max-width: 700px) {
  .post-6 {
    .description-post__content {
      width: 80% !important;
    }
  }
  .overview-description__img {
    display: none;
    width: 0;
    height: 0;
  }
}

@media (max-width: 600px) {
  .title-shadow {
    position: relative;
    bottom: 20px !important;
    right: 20px !important;
  }
  .banner-content__desc {
    width: 80% !important;
  }
  .banner-content__background {
    margin-right: 40px;
    width: 380px !important;
    height: 400px !important;
  }
  .banner-content__title {
    font-size: 48px;
    width: 80% !important;
  }
  .banner-content__buttons {
    display: flex;
    flex-direction: column !important;
    align-items: center;
    .banner-content__buttons-play {
      margin-right: 0 !important;
    }
    .banner-content__buttons-more {
      margin-top: 16px;
    }
  }
  .banner-subcontent {
    flex-direction: column !important;
    align-items: center;
  }
  .description-post__content {
    width: 90% !important;
    .description-post__content-title {
      font-size: 36px !important;
      margin-bottom: 10px !important;
    }
    .description-post__content-desc {
      font-size: 14px !important;
    }
  }
  .post-1 {
    .description-post__content {
      margin-left: 20px !important;
      .description-post__content-desc {
        margin-bottom: 20px !important;
      }
    }
  }
  .post-2 {
    .description-post__content {
      margin-right: 20px !important;
      .description-post__content-desc {
        margin-bottom: 20px !important;
      }
    }
  }
  .post-3 {
    .description-post__content {
      margin-left: 20px !important;
      .description-post__content-desc {
        margin-bottom: 20px !important;
      }
    }
  }
  .post-4 {
    .description-post__content {
      margin-left: 0 !important;
      margin-right: 20px !important;
      .description-post__content-desc {
        margin-bottom: 20px !important;
      }
    }
  }
  .post-6 {
    .description-post__content {
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -40%;
      text-align: center;
    }
  }
  .overview {
    .overview-content {
      .overview-description {
        .overview-description__title {
          font-size: 48px;
          .overview-description__title-shadow {
            bottom: 20px !important;
            right: 20px !important;
          }
        }
      }
      .overview-media {
        grid-template-rows: repeat(3, 300px);
      }
    }
  }
  .community {
    .community-content {
      .community-content__description {
        .community-content__title {
          margin-top: 48px;
          margin-left: 50px;
          font-size: 48px;
        }
      }
      .community-content__networks {
        .community-content__networks-group {
          padding: 20px !important;
          height: 150px !important;
          .community-content__networks-group-row {
            position: relative;
            .community-content__networks-group-row-members {
              display: none;
            }
            .community-content__networks-group-row-btn {
              position: absolute;
              bottom: 65%;
              right: -10px;
            }
            //.community-content__networks-group-row-btn {
            //  position: absolute;
            //  bottom: -10px;
            //  right: -10px;
            //} /*Нормальный вариант*/
          }
        }
      }
    }
  }
  .modal {
    .modal-dialog {
      .modal-dialog__header {
        padding: 0 20px !important;
        .modal-dialog__header-title {
          font-size: 24px !important;
        }
      }
      .modal-dialog__content {
        padding: 0 20px !important;
        .modal-dialog__content-title {
          font-size: 28px !important;
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .post-1 {
    height: 265px !important;
  }
  .post-4, .post-5 {
    .description-post__content {
      width: 90% !important;
    }
  }
  .banner-content__background {
    width: 285px !important;
    height: 300px !important;
  }
  .overview {
    .overview-content {
      .overview-media {
        grid-template-rows: repeat(3, 200px);
      }
    }
  }
  .list-servers-content__places-any-desc-online {
    display: none !important;
  }
  .modal-dialog__header {
    flex-direction: column-reverse !important;
    justify-content: space-around !important;
    align-items: flex-start !important;
  }
}

@media (max-width: 360px) {
  .banner-content__title {
    font-size: 36px !important;
  }
  .banner-content__background {
    width: 237px !important;
    height: 250px !important;
  }
  .description-post__content{
    .description-post__content-title {
      margin-bottom: 8px !important;
    }
    .description-post__content-desc {
      line-height: 24px !important;
    }
  }
  .overview-description__title {
    font-size: 36px !important;
  }
  .list-servers-content__title {
    font-size: 36px !important;
  }
  .community-content__title {
    font-size: 36px !important;
  }
  .footer-navigation__networks {
    display: grid;
    grid-template-rows: repeat(2, 70px) !important;
    grid-template-columns: repeat(3, 70px) !important;
    grid-gap: 10px !important;
  }
  .modal-dialog {
    height: 90% !important;
    .modal-dialog__header {
      height: 25% !important;
      .modal-dialog__header-counter {
        padding: 6px 8px !important;
        font-size: 14px !important;
      }
    }
    .modal-dialog__content-buttons {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      button {
        margin-left: 0 !important;
        margin-top: 16px;
        padding: 13px 16px !important;
        span{
          font-size: 14px !important;
        }
      }
    }
  }
}
